
h4{ /* estilo do p */
    color: white;
    padding-left:8px;
    text-align: center;
    padding-bottom: 8px;
    text-decoration: none;
}

.titulo_atendimento{ /* estilo do título da página de atendimento*/
    text-align: center;
    margin-bottom: 5px;
    background-color: #6acc6d;
    color: white;
    display: flex;
    padding: 1em;
       
   
}
.organiza{ /* div de organização do conteúdo da página de atendimento(centralização, margin etc)*/
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 46.5em;
 
}

.diva { /* configuração da div direita contendo a parte de perguntas frequentes*/
    /* border: 1px black solid; */
    display: inline-block;
    width: 50em;
    margin: 3%;
    margin-top: 3em;
    
}

.divb{ /* configuração da div esquerda contendo formulário de dúvidas e sugestões*/

    margin: auto;
    display: inline-block;
    
    
}

.caixaformulario{ /*Estilo do formulário*/
    background-color: whitesmoke;
    align-items: center;
    padding: 1cm; 
}

input{ /*Estilo dos inputs de formulário*/
    width: 10cm;
    height: 1cm;
    border-color: lightgray;
    border-style:ridge;
}

.tag_p_perguntas{ /*Estilo do p em perguntas frequentes*/
    width: 12cm;
}

.botao_formulario{ /*Estilo do botão*/
    background-color: #4CAF50;
    border: none;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
